body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;
    max-width: 1121px;
    margin: auto;
    gap: 30px;
}

p {
    color: #544837;
    font-size: 16px;
    line-height: 26px;
}

h1 {
    font-size: 44px;
    color: #2F281E;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 100%;
    height: 78px;
    left: 0px;
    top: 20px;
}

.logo {
    margin-right: auto;
    width: 185px;
    height: 32px;
}

.nav-bar {
    margin-left: auto;
    
}

.nav-items {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #2F281E;
}

.btns {
    display: flex;
    gap: 10px;
}

.btn-sign-in {
    height: 46px;
    width: 102px;
    color: #173A56;
    background-color: #FFFFFF;
    border-radius: 6px;
    border-width: 1px;
    border-color: #BCD0E5;
}

.btn-sign-in:hover {
    background-color: #f2e4cf;
    cursor: pointer;
}

.btn-sign-up {
    height: 46px;
    width: 102px;
    background-color: #FF9900;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
}

.btn-sign-up:hover {
    background-color: #f48415;
    cursor: pointer;
}

li {
    font-size: 14px;
}

button {
    font-size: 16px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}



.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#hero-text {
    font-size: 18px;
}

.btns-two {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn-get-started {
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    line-height: 24px;
}

.btn-get-started:hover {
    background-color: #f48415;
    cursor: pointer;
}

.btn-watch-video {
    width: 175px;
    height: 53px;
    background-color: #FFFFFF;;
    color: #FF9900;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    line-height: 24px;
    text-decoration-line: underline;

}

.btn-watch-video:hover {
    color: #f48415;
    cursor: pointer;
}

.triangle {
    position: relative;
    transform: translate(-4px, 3px);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    max-width: 500px;
    text-align: center;
    color: #2F281E;
}

h3 {
    color: #2F281E;
    font-size: 36px;
    margin-top: 0px;
}

h4 {
    color: #2F281E;
    font-size: 22px;
    font-weight: semi-bold;
}

h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
}

.sec-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1121px;
    margin-top: 20px;
    margin-bottom: 40px;

}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /*max-width: 100%;*/
}

.card {
    width: 240px;
}

.btn-now {
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 20px;
}

.btn-now:hover {
    background-color: #f48415;
    cursor: pointer;
}

.sec-two, 
.sec-four {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 1121px;
    gap: 20px;
}

.sec-three {
    display: flex;
    gap: 40px;
    max-width: 1121px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.check-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

footer {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    /*align-items: center;*/
    width: 1121px;
    height: 308px;
    max-width: 100%;
}

.btn-register {
    display: block;
    width: 131px;
    height: 39px;
    background-color: #FF9900;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
}

.btn-register:hover {
    background-color: #f48415;
    cursor: pointer;
}

input {
    width: 325px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #BCD0E5;

}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 35px;
}

a {
    color: #544837;
    text-decoration: none;
}

hr {
width: 1121px;
height: 1px;
background: rgba(188, 208, 229, 0.496913);
}